.heading {
    font-family: 'zeyada', cursive;
    padding: 10px;
}

.header {
    margin: 0px;
    margin-top: -22px;
    background-color: rgb(155, 208, 246);
    width: 100%;
}

.search {
    position: absolute;
    left: 75%;
    top: 2.5%;
    height: 30px;
    border-radius: 20px;
    border: rgb(28, 39, 45) solid;
    padding: 3px;
    padding-left: 10px;

    font-size: medium;
}

.searchb {
    position: absolute;
    left: 85%;
    top: 3%;
    bottom: 3%;
    height: 5%;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

.searchb:hover {
    background-color: aqua;
    width: 6%;

}

i {
    position: absolute;
    top: 2%;
    padding-left: 5px;
}

.container {
    position: absolute;
    padding: 10px;

    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
}

.formlabel {
    height: 30px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    border-bottom: none;
    background-color: rgb(207, 227, 245);
    border: none;

}

.formlabel1 {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    border: none;
    background-color: rgb(242, 244, 245);


}

.primary {
    height: 30px;
    width: 80px;
    background-color: rgb(198, 224, 246);
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    position: absolute;
    left: 80%;

}

.primary:hover {
    background-color: rgb(155, 243, 238);
    box-shadow: 2px 2px 2px 2px rgb(176, 225, 245);
}

.mb i {
    position: absolute;
    left: 90%;
    top: 9%;
    height: 50px;
    width: 50px;
}

.maincard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 30px;
    padding: 10px;




}

.minicard {
    flex: 1;
    margin-right: 20px;
}

CardActions button {
    color: aqua;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.yournotes {
    position: absolute;
    font-family: 'zeyada', cursive;
    justify-content: center;
    display: inline-flex;
    background-image: linear-gradient(to right, rgb(190, 230, 250), rgb(235, 248, 250));
    width: 10%;
    top: 65%;
    left: 45%;
    border-radius: 15px;
    margin-bottom: 20px;


}

.yournotes1 {
    position: absolute;
    font-family: 'zeyada', cursive;
    justify-content: center;
    display: inline-flex;
    background-image: linear-gradient(to right, rgb(243, 99, 99), rgb(240, 151, 151));
    width: 100%;
    top: 80%;
    left: 0%;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: larger;


}

.formlabel2 {
    height: 30px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    border-bottom: none;
    background-color: rgb(207, 227, 245);
    border: none;

}

.formlabe3 {
    height: 70%;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
    border-bottom: none;
    background-color: rgb(207, 227, 245);
    border: none;

}